.bannerimg {
    background-position: center;
    background-size: cover;
    background-image: url("collegeBanner.png");
    min-height: 100%;   
}

.bannerheading{
    text-align: center;
    color: rgb(0, 0, 0);
}
.textInput{
    border: 2px solid rgb(150, 255, 50);
    border-radius: 5px;
    background-color: #efefef;
}

.logo1 {
    position: absolute;
    height: 120px;
    width: 50px;
}

h1{
    background-color: rgb(150, 255, 50);
    color: rgb(0, 0, 0);
    position:center;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}
.formTitle{
    background-color: rgb(150, 255, 50);
    color: rgb(0, 0, 0);
    position:center;
    margin:auto;
    text-align: center;
}

body{
    height: 100%;
    font-family: "Trebuchet MS", sans-serif;
    background-color: rgb(48, 48, 48);
    color:white;
    margin: auto;
    max-width: 980px;
}
.mainpart{
    background-color: rgb(68, 68, 68);
    padding:5px ;
}
h3{
    background-color: rgb(150, 255, 50);
    color: rgb(0, 0, 0);
    position:center;
    padding-left: 8px;
    padding-right: 8px;
    text-align: left;
}
.navbar {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: rgb(26, 26, 26);
    width: 980px;
}
ul {
    margin: auto;
    float: left;
}
.page {
    float: left;
}
.page a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.page a:hover {
    background-color: #111;
}
.goback{
    background-color: rgb(26, 26, 26);
    display:inline-block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin:auto;

}
.active {
    background-color: rgb(150, 255, 50);
    color: rgb(0, 0, 0);
}
.grayRule{
    border-style:solid; 
    border-color:gray; 
    border: width 1.5px;
}

input[type=submit] {
    width: 50%;
    background-color: rgb(150, 255, 50);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    margin: 8px 25%;
    border: gray;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
  }
  
  input[type=submit]:hover {
    background-color: rgb(25, 25, 25);
    color: rgb(255, 255, 255);
    border: rgb(150, 255, 50);
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(150, 255, 50);
    border-radius: 5px;
    background-color: #efefef;
    resize: none;
  }
  .smallerTextArea{
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(150, 255, 50);
    border-radius: 5px;
    background-color: #efefef;
    resize: none;
  }
  .centerText{
    text-align: center;
  }
 .thankYou
 {
    font-size: larger;
    padding-top: 5%;
    padding-bottom: 5%;
 }